<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}"> no cheese :(</p>


<form method="post">
<ul th:each="cheese : ${cheeses}" >
    <li th:text="${cheese.key + ' - ' + cheese.value}"></li><input id="checkid" type="checkbox" name="remove" th:value="${cheese.key}"/>
</ul>

    <input type="submit" value="Remove Cheese">





</form>


</body>
</html>